<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Ruang_Guru_logo.svg/320px-Ruang_Guru_logo.svg.png" class="logo-header" />
    <h2 class="title-header">Form to get Prize</h2>
  </header>
  <div class="wrapper">
    <div class="container">
      <div class="benefits">
        <h1>Yang akan kamu dapat:</h1>
        <div class="list-benefits">
          <% benefits.forEach(({imageUrl}) => { %>
            <img src="<%= imageUrl %>" class="prize-image">
          <% }) %>
        </div>
      </div>
      <div class="container-form">
        <form action="/form" method="POST">
          <label for="userId">User ID</label>
          <input required type="text" value="<%- user.userId %>" name="userId" id="userId" />
          <label for="name">Nama</label>
          <input required type="text" value="<%- user.userName %>" name="name" id="name" />
          <label for="email">Email</label>
          <input required type="text" value="<%- user.userEmail %>" name="email" id="email" />
          <label for="msisdn">No Handphone</label>
          <input required type="text" value="<%- user.userPhoneNumber %>" name="msisdn" id="msisdn" />
          <label for="delivery_address">Alamat</label>
          <textarea required rows="6" cols="50" name="delivery_address" id="delivery_address"></textarea>
          <input type="submit" value="Kirim">
        </form>
      </div>
    </div>
  </div>
</body>
</html>