body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
}

.logo-header {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.container {
  border-radius: 5px;
  padding: 20px;
  max-width: 1024px;
}

input[type=text], textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #2eb5c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #238e97;
}

.benefits {
  width: 100%;
}

.list-benefits {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.prize-image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .list-benefits {
    justify-content: center;
  }
  .prize-image {
    width: 5rem;
    height: 5rem;
  }
}